body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #DBDBDB;
  color: #333;
}

h1 {
  color: #222;
}

nav {
  border-bottom: 1px solid #ddd;
}

/* Menu link styles */
.menu-link {
  font-weight: normal;
  color: #333;
  text-decoration: none; /* Remove underlines */
  transition: font-weight 0.2s ease; /* Smooth transition for hover effect */
}

.menu-link:hover {
  font-weight: bold; /* Bold on hover */
}

.menu-link:visited,
.menu-link:active {
  color: #333; /* Prevent color change after click */
}
