body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #DBDBDB;
  color: #333;
}

h1 {
  color: #222;
}

nav {
  border-bottom: 1px solid #ddd;
}

/* Menu link styles */
.link {
  font-weight: normal;
  color: #333;
  text-decoration: none; /* Remove underlines */
  transition: font-weight 0.2s ease; /* Smooth transition for hover effect */
}

.link:hover {
  font-weight: bold; /* Bold on hover */
}

.link:visited,
.link:active {
  color: #333; /* Prevent color change after click */
}

.dropdown-content {
  display: none;
}

li:hover .dropdown-content {
  display: flex; /* Show dropdown when hovered */
}
